<!DOCTYPE html>
<html>
<head>
	<title>Signup Form</title>
	<link rel="stylesheet" type="text/css" href="../static/custom.css">
</head>
<body>
<!-- multistep form -->
<form id="msform" action="registered">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Account Setup</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">Create your account</h2>
		<h3 class="fs-subtitle">This is step 1</h3>
		<input type="text" name="userName" placeholder="Your Name" />
		<input type="text" name="userEmail" placeholder="Email" />
		<input type="password" name="userPassword" placeholder="Password" />
		<input type="password" name="cUserPassword" placeholder="Confirm Password" />
		<input type="submit" name="submit" class="submit action-button" value="Submit" />
	</fieldset>s
</form>

</body>
	
</html>