<!DOCTYPE html>
<html>
<head>
	<title>Signin Form</title>
	<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>
<!-- multistep form -->
<form id="msform" action="client_dashboard" method="post">
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">You have successfully LOGGED OUT</h2>
		<h3 class="fs-subtitle">To LOGIN enter your details</h3>
		<input type="text" name="email" placeholder="Email" />
		<input type="password" name="pass" placeholder="Password" />
		<input type="button" name="next" class="next action-button" value="Log In" />
	</fieldset>
	
</form>

</body>
</html>